body {
    background-color: rgb(255, 250, 198);
  }

h1 {
    color: rgb(0, 0, 0);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 120;
    text-align: center;
}

table, td {
    margin-top: 12;
    margin-left: auto;
    margin-right: 150;
    text-align: center;
}

section {
    margin-left: auto;
    margin-top: 120;
    margin-bottom: auto;
    margin-right: auto;
    text-align: center
}